<h1>List of courses</h1>
<ul>
    <li *ngFor= "let course of courses$ | async ">
      {{ course.$value  ||  course.name}}
      <button (click)="update(course)"> Update </button>
      <button (click)="delete(course)"> Delete </button>
    </li>
</ul>
<h2>Add Data in Database</h2>
<input type="text" (keyup.enter)="add(course)"  #course>


<h2>Course data in json form</h2>  
<p> {{ course$ | async | json }} </p>


<h2>Author data in json form</h2> 
<p> {{ author$ | async | json }} </p>


<h2>Using "as" alias </h2>
<ul *ngIf=" (author$ | async) as author">
    <li>{{ author.name }}</li>
    <li>{{ author.students }}</li>
    <li>{{ author.isPremium }}</li>
</ul>

